.movie-horizontal-list {
  overflow-x: auto;
  white-space: nowrap;
  padding: 1rem;
    scrollbar-width: thin; // Firefox
  scrollbar-color: #888 transparent;

}

.movie-horizontal-list::-webkit-scrollbar {
  height: 8px;
}

.movie-horizontal-list::-webkit-scrollbar-track {
  background: transparent;
}


.movie-row {
  display: flex;
  gap: 1rem;
}

.movie-card {
  flex: 0 0 auto;
  //width: 140px;
  text-align: center;
}
